*{
    margin: 0px;
}
body{
    background: linear-gradient(blue, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.btn{
    background-color: rgb(4, 236, 19);
    border: none;
    border-radius: 6px;
    color: rgb(254, 253, 250);
    width: 250px;
    position: relative;
    top: 10px;
    /* left: 45px; */
}
#numberBtn{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: 4px dotted rgb(228, 240, 7);
    /* background-color: rgb(0, 0, 0); */
    text-align: center;
    font-size: 50px;
    
}
.carrier{
    border: 2px solid blue;
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: conic-gradient(black, white);
    border-radius: 6px;
}
.carrier h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(201, 10, 10);
}
.btn{
    width: 40%;
    height: 30px;
}
#headMsg{
    position: relative;
    /* bottom: 50px; */
    /* top: 10px; */
    left: 39px;
    color: rgb(57, 32, 184);
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}